name: Generate coverage and upload to Codecov

on: [push, pull_request]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.6'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install coverage codecov pytest
        pip install .
    - name: Generate coverage file
      run: |
        coverage run -m pytest || true  # "|| true" ensures that a failed pytest doesn't halt the CI
        coverage xml
    - name: Upload results to Codecov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
        file: coverage.xml # optional
        flags: pytest # optional
        name: codecov-umbrella # optional
        fail_ci_if_error: true # optional (default = false)

        
