name: Generate coverage and upload to Codecov

on: [push, pull_request]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.7'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install coverage codecov pytest pytest-cov pytest-mock pytest-console-scripts
        pip install .[dev]
    - name: Generate coverage file
      env:
        PACK_NAME: 'hop'
      run: |
        python -m pytest --cov-report term --cov-report xml:coverage.xml --cov $PACK_NAME
    - name: Upload results to Codecov
      uses: codecov/codecov-action@v1.0.13
      with:
        token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
        file: coverage.xml # optional
        flags: pytest # optional
        name: codecov-umbrella # optional
        fail_ci_if_error: true # optional (default = false)

        
